a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #00AAAA;
    text-decoration: none;
}

body {
    background-color: #06090F;
    font-family: 'Lato', sans-serif;
}


#main {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.slice {
    border-top: 1px solid lawngreen;
    border-bottom: 1px solid lawngreen;
    background-color: #161B22;
    height: auto;
}

#top {
    display: flex;
    flex-direction: row;
    height: 5vh;
}

#links {
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    margin: auto 0px;
    width: 20%;
}

#logo {
    height: 35px;
    margin: auto 0px;
    padding-left: 12px;
    width:40px;
}

#twitch_embed {
    height: 90vh;
}

#twitch_embed_mini {
    height: 45vh;
    width: 50%
}

#mini_twitch {
    display: flex;
    flex-direction: row;
}

#line {
    border: 1px solid lawngreen;
}

#configurations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
