#e_config_main {
    background-color: #30363D;
    box-shadow: inset 2px 2px 4px 5px rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 20vw;
}

#e_config_h5 {
    background-color: #00AAAA;
    text-align: center;
}

#e_config_pre {
    margin: 12px 12px;
    white-space: pre-wrap;
}