{% extends 'layout.html' %}
{% block content %}

    <div class="slice" id="mini_twitch">
        <div class=twitch_embed_mini id="twitch_embed"></div>
        <div id="right_box">
            <div id="clock"></div>
            <div id="current_bout"></div>
        </div>
    </div>

    <div class="slice">
        <div>
            <h5 id="table_title">{{table_title}}</h5>
            <table id="searchdata" class="display">
                <thead>
                    <tr>
                        {% for k, v in items[0].items() %}
                        <th>{{k.upper().replace("_", " ")}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr>
                        {% for k, v in i.items() %}
                        <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% for k, v in items[0].items() %}
                        <th>{{k.upper().replace("_", " ")}}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}