<div>
    <h5 id="table_title">{{table_title}}</h5>
    <table id="mini-table">
        <thead>
            <tr id="mini-tr">
                {% for k, v in items[0].items() %}
                <th id="mini-th">{{k.upper().replace("_", " ")}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr id="mini-tr">
                {% for k, v in i.items() %}
                <td id="mini-td">{{v}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>